<h1 class="todos__title">Todos</h1>

<app-todo-add></app-todo-add>

<div class="btn-group">
  <button class="btn btn--completion" (click)="showAll()">Show all</button>
  <button class="btn btn--completion" (click)="showCompleted()">
    Show completed
  </button>
  <button class="btn btn--completion" (click)="showUncompleted()">
    Show uncompleted
  </button>
</div>

<ng-container *ngIf="show == 'all'">
  <div *ngFor="let todo of todos | todosShow">
    <div class="todo">
      <a class="todo__link" [routerLink]="['/todo', todo.id]">
        <b>{{ todo.name }}</b>
        <b>{{ todo.date }}</b>
      </a>

      <div (click)="toggleCompletion(todo.id)" [ngClass]="'todo__completion'">
        <div *ngIf="todo.completed" class="todo__completion__tick"></div>
      </div>

      <p class="todo__delete" (click)="deleteTodo(todo.id)">X</p>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="show == 'completed'">
  <div *ngFor="let todo of todos | todosShow: 'completed'">
    <div class="todo">
      <a class="todo__link" [routerLink]="['/todo', todo.id]">
        <b>{{ todo.name }}</b>
        <b>{{ todo.date }}</b>
      </a>

      <div (click)="toggleCompletion(todo.id)" [ngClass]="'todo__completion'">
        <div *ngIf="todo.completed" class="todo__completion__tick"></div>
      </div>

      <p class="todo__delete" (click)="deleteTodo(todo.id)">X</p>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="show == 'uncompleted'">
  <div *ngFor="let todo of todos | todosShow: 'uncompleted'">
    <div class="todo">
      <a class="todo__link" [routerLink]="['/todo', todo.id]">
        <b>{{ todo.name }}</b>
        <b>{{ todo.date }}</b>
      </a>

      <div (click)="toggleCompletion(todo.id)" [ngClass]="'todo__completion'">
        <div *ngIf="todo.completed" class="todo__completion__tick"></div>
      </div>

      <p class="todo__delete" (click)="deleteTodo(todo.id)">X</p>
    </div>
  </div>
</ng-container>
